.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.movie-poster {
  height: 30rem;
  border-radius: 2rem;
  width: 18rem;
}
/* .p-name {
  font-style: italic;
}
span {
  font-weight: bold;
  font-style: italic;
} */
